@inherits MvvmComponentBase<ChildViewModel>
@using Blazing.Mvvm.Sample.Shared.ViewModels.ParentChild

<div class="card mb-3 child-card">
    <div class="card-body">
        <h5 class="card-title">@ViewModel!.Text</h5>
        <p class="card-text small text-muted">This is a dynamically created child component with its own ViewModel instance.</p>
        <button type="button" class="btn btn-sm btn-danger" @onclick="@(() => ViewModel!.CloseCommand.Execute(null))">
            <span class="bi bi-x-circle"></span> Remove
        </button>
    </div>
</div>

@code
{
    [Parameter]
    public string Text { get; set; } = "";

    protected override void OnInitialized()
        => ViewModel!.Text = Text;
}
