@page "/relaycommands"

<PageTitle>RelayCommand Samples</PageTitle>

<BootstrapBreadcrumbs />

<h1>Comparing Normal vs Button + RelayCommand vs MvvmButton</h1>

<RelayCommandsInfo />

<div class="d-flex flex-wrap gap-3 mb-4">
    <div class="flex-basis-100 flex-basis-md-50 flex-basis-lg-33 d-flex">
        <ExistingExample />
    </div>
    <div class="flex-basis-100 flex-basis-md-50 flex-basis-lg-33 d-flex">
        <Example1 />
    </div>
    <div class="flex-basis-100 flex-basis-md-50 flex-basis-lg-33 d-flex">
        <Example2 />
    </div>
    <div class="flex-basis-100 flex-basis-md-50 flex-basis-lg-33 d-flex">
        <ExistingExampleAsync />
    </div>
    <div class="flex-basis-100 flex-basis-md-50 flex-basis-lg-33 d-flex">
        <Example1Async />
    </div>
    <div class="flex-basis-100 flex-basis-md-50 flex-basis-lg-33 d-flex">
        <Example2Async />
    </div>
</div>