@inherits MvvmComponentBase<Example1ViewModel>

<BootstrapCard AdditionalClasses="w-100">
    <Header>
        <h3>Example 1: RC + Button</h3>
    </Header>
    <Body>
        <button class="btn btn-primary"
                aria-label="button"
                type="button"
                @onclick="() => ViewModel.ClickedCommand.Execute(null)"
                disabled="@(!ViewModel.ClickedCommand.CanExecute(null))">
            Click Me
        </button>
        <div class="mt-2">
            <input id="example1-toggle" type="checkbox" @bind="ViewModel.IsDisabled" />
            <label for="example1-toggle">Is Disabled</label>
        </div>
    </Body>
    <Footer>
        <p>@ViewModel.Message</p>
    </Footer>
</BootstrapCard>