@inherits MvvmComponentBase<Example2ViewModel>

<BootstrapCard AdditionalClasses="w-100">
    <Header>
        <h3>Example 2 - RC + MvvmButton</h3>
    </Header>
    <Body>
        <MvvmButton AdditionalClasses="btn btn-primary"
                    Command="ViewModel.ClickedCommand"
                    Text="Click Me"/>
        <div class="mt-2">
            <input id="example2-toggle" type="checkbox" @bind="ViewModel.IsDisabled" />
            <label for="example2-toggle">Is Disabled</label>
        </div>
    </Body>
    <Footer>
        <p>@ViewModel.Message</p>
    </Footer>
</BootstrapCard>