<BootstrapCard AdditionalClasses="w-100">
    <Header>
        <h3>Pure Blazor Example</h3>
    </Header>
    <Body>
        <button class="btn btn-primary"
                aria-label="button"
                type="button"
                @onclick="OnClick"
                disabled="@IsChecked">
            Click Me
        </button>
        <div class="mt-2">
            <input id="existing-toggle" type="checkbox" @bind="IsChecked" />
            <label for="existing-toggle">Is Disabled</label>
        </div>
    </Body>
    <Footer>
        <p>@Message</p>
    </Footer>
</BootstrapCard>