@inherits ComponentControlBase

<div class="@GetClasses()" @attributes="AdditionalAttributes">
    @if (Header is not null)
    {
        <div class="card-header">
            @Header
        </div>
    }
    <div class="card-body">
        @if (Body is not null)
        {
            @Body
        }
        else
        {
            @ChildContent
        }
    </div>
    @if (Footer is not null)
    {
        <div class="card-footer text-body-secondary min-h-4rem">
            @Footer
        </div>
    }
</div>


