<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor.MVVM Sample</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <BootstrapNavMenu>
            <BootstrapNavMenuGroup Title="Main">
                <li>
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="counter">
                        <span class="bi bi-plus-square" aria-hidden="true"></span> Counter
                    </NavLink>
                </li>
            </BootstrapNavMenuGroup>

            <BootstrapNavMenuGroup Title="RelayCommands">
                <li>
                    <NavLink class="nav-link" href="relaycommands">
                        <span class="bi bi-lightning" aria-hidden="true"></span> RelayCommands
                    </NavLink>
                </li>
            </BootstrapNavMenuGroup>

            <BootstrapNavMenuGroup Title="Navigation Samples">
                <li>
                    <MvvmNavLink class="nav-link" TViewModel="UsersViewModel">
                        <span class="bi bi-people" aria-hidden="true"></span> Users
                    </MvvmNavLink>
                </li>
                <li>
                    <MvvmNavLink class="nav-link"
                                 TViewModel="ITestNavigationViewModel"
                                 Match="NavLinkMatch.All">
                        <span class="bi bi-file-font" aria-hidden="true"></span> Test
                    </MvvmNavLink>
                </li>
                <li>
                    <MvvmNavLink class="nav-link"
                                 TViewModel="ITestNavigationViewModel"
                                 RelativeUri="this is a MvvmNavLink test"
                                 Match="NavLinkMatch.All">
                        <span class="bi bi-file-font" aria-hidden="true"></span> Test + Params
                    </MvvmNavLink>
                </li>
                <li>
                    <MvvmNavLink class="nav-link"
                                 TViewModel="ITestNavigationViewModel"
                                 RelativeUri="?test=this%20is%20a%20MvvmNavLink%20querystring%20test"
                                 Match="NavLinkMatch.All">
                        <span class="bi bi-file-font" aria-hidden="true"></span> Test + QueryString
                    </MvvmNavLink>
                </li>
                <li>
                    <MvvmNavLink class="nav-link"
                                 TViewModel="ITestNavigationViewModel"
                                 RelativeUri="this is a MvvmNavLink test?test=this%20is%20a%20MvvmNavLink%20querystring%20test"
                                 Match="NavLinkMatch.All">
                        <span class="bi bi-file-font" aria-hidden="true"></span> Test + Both
                    </MvvmNavLink>
                </li>
                <li>
                    <MvvmKeyNavLink class="nav-link"
                                    NavigationKey="@nameof(TestKeyedNavigationViewModel)"
                                    Match="NavLinkMatch.All">
                        <span class="bi bi-file-slides" aria-hidden="true"></span> Keyed Test
                    </MvvmKeyNavLink>
                </li>
                <li>
                    <MvvmKeyNavLink class="nav-link"
                                    NavigationKey="@nameof(TestKeyedNavigationViewModel)"
                                    RelativeUri="this is a MvvmKeyNavLink test"
                                    Match="NavLinkMatch.All">
                        <span class="bi bi-file-slides" aria-hidden="true"></span> Keyed + Params
                    </MvvmKeyNavLink>
                </li>
                <li>
                    <MvvmKeyNavLink class="nav-link"
                                    NavigationKey="@nameof(TestKeyedNavigationViewModel)"
                                    RelativeUri="?test=this%20is%20a%20MvvmKeyNavLink%20querystring%20test"
                                    Match="NavLinkMatch.All">
                        <span class="bi bi-file-slides" aria-hidden="true"></span> Keyed + QueryString
                    </MvvmKeyNavLink>
                </li>
                <li>
                    <MvvmKeyNavLink class="nav-link"
                                    NavigationKey="@nameof(TestKeyedNavigationViewModel)"
                                    RelativeUri="this is a MvvmKeyNavLink test?test=this%20is%20a%20MvvmKeyNavLink%20querystring%20test"
                                    Match="NavLinkMatch.All">
                        <span class="bi bi-file-slides" aria-hidden="true"></span> Keyed + Both
                    </MvvmKeyNavLink>
                </li>
            </BootstrapNavMenuGroup>

            <BootstrapNavMenuGroup Title="Messaging">
                <li>
                    <MvvmNavLink class="nav-link" TViewModel="HexTranslateViewModel">
                        <span class="bi bi-file-font" aria-hidden="true"></span> Hex translate
                    </MvvmNavLink>
                </li>
            </BootstrapNavMenuGroup>

            <BootstrapNavMenuGroup Title="Validation">
                <li>
                    <MvvmNavLink class="nav-link" TViewModel="EditContactViewModel">
                        <span class="bi bi-folder" aria-hidden="true"></span> Form
                    </MvvmNavLink>
                </li>
            </BootstrapNavMenuGroup>

            <BootstrapNavMenuGroup Title="Data & Services">
                <li>
                    <MvvmNavLink class="nav-link" TViewModel="FetchDataViewModel">
                        <span class="bi bi-cloud" aria-hidden="true"></span> Fetch data
                    </MvvmNavLink>
                </li>
            </BootstrapNavMenuGroup>

            <BootstrapNavMenuGroup Title="Parameter Resolution">
                <li>
                    <MvvmNavLink class="nav-link" TViewModel="ParameterResolutionOverviewViewModel">
                        <span class="bi bi-link-45deg" aria-hidden="true"></span> Overview
                    </MvvmNavLink>
                </li>
                <li>
                    <MvvmNavLink class="nav-link" TViewModel="ParameterDemoViewModel">
                        <span class="bi bi-gear" aria-hidden="true"></span> Parameter Demo
                    </MvvmNavLink>
                </li>
            </BootstrapNavMenuGroup>

            <BootstrapNavMenuGroup Title="Parent-Child Pattern">
                <li>
                    <MvvmNavLink class="nav-link" TViewModel="ParentChildViewModel">
                        <span class="bi bi-diagram-3" aria-hidden="true"></span> Parent-Child Demo
                    </MvvmNavLink>
                </li>
            </BootstrapNavMenuGroup>
        </BootstrapNavMenu>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}